@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body {
  background: url(https://img.freepik.com/free-vector/paper-style-luxury-background_23-2148982497.jpg?size=626&ext=jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
  height: 100vh;
  margin: 0;
  font-family: 'Handlee';
  color: black
}

div {
  background:rgba(221, 213, 213, 0.40);
  margin:0;
  margin-bottom: .5em;
  padding: 1em
}

h1 {
  font-family: 'Handlee';
  background: antiquewhite;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
  text-shadow: 1px 1px 1px goldenrod;
  color: blue;
  background: rgba(221, 213, 213, 0.40)
}

nav {
  text-align: center
}

table {
  background: rgba(221, 213, 213, 0.40)
}

th {
  text-align: center;
  color: goldenrod;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.60)
}

td {
  text-align: center;
  text-shadow: 1px 1px 1px goldenrod
}

a {
  color: black;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1em;
}

a:hover {
  color: blue;
}

li {
  text-align: center;
  list-style: none;
}

li a {
  color: goldenrod;
  background: rgba(221, 213, 213, 0.40)
}

input[type=text] {
  padding: .3em
}

input[type=submit], button {
  padding: .3em;
  color: black;
  background: goldenrod;
  font-size: 1em;
  font-family: 'Handlee';
  border-radius: 10%
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: goldenrod;
  text-shadow: 1px 1px 1px darkblue;
}